body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    gap: 10px;
}

#calendar-container {
    flex-grow: 1;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    aspect-ratio: 16/10;
    max-width: 90%;
    margin: 0 auto;
}

#calendar {
    height: 100%;
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 800px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 70vh;
    overflow-y: auto;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fc-event.has-report {
    background-color: #4CAF50 !important;  /* 초록색 배경 */
    border-color: #45a049 !important;
    color: white !important;
}

.fc-event.no-report {
    background-color: #2196F3 !important;  /* 파란색 배경 */
    border-color: #1976D2 !important;
    color: white !important;
}
